$primary: #3b70c8;
.verif-container {
  max-width: 500px;
  margin: 100px auto ;
  padding: 50px 30px ;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 34px -15px rgba(0,0,0,0.24);
}
.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 2rem;
}
.sent-email {
  font-size: 16px;
  margin-bottom: 2rem;
  background-color: #dcf1ff;
  padding: 10px;
  border-radius: 10px;
}

.login{
  color: lighten(black,50%);
  text-decoration: none;
  cursor: pointer;
}
.login:hover {
  color: lighten(black, 30%);
  text-decoration: underline;
}

.btn {
  cursor: pointer;
  box-shadow: none!important;
  font-size: 15px;
  padding: 9px 20px;
  margin-top: 20px;
  width: 70%;
  &.btn-primary {
    background: $primary !important;
    border: 1px solid $primary !important;
    border-radius: 15px !important;
    color: white !important;
    font-size: 16px;
    &:hover {
      border: 2px solid $primary !important;
      background: transparent !important;
      color :$primary !important;
      box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px !important;
      transform: scale(1.03) !important;
    }
  }
}

.input-container {
  position: relative;
  margin: 40px auto 20px;
  width: 80%;
}

.input-container input[type="text"] {
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #797979;
  border-radius: 5px;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #797979;
  transition: all 0.3s ease;
  pointer-events: none;
  margin-left: 5px;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"].ng-dirty ~ .label {
  top: -20px;
  font-size: 16px;
  color: #2b569f;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #2b569f;
  border-radius: 10px;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"].ng-dirty ~ .underline {
  transform: scaleX(1);
}

.input-container input[type="text"].ng-invalid.ng-touched {
  border-bottom-color: #930000;
}
.input-container input[type="text"].ng-invalid.ng-touched ~ .underline, {
 background-color: #930000;
}

.input-container input[type="text"]:focus,
.input-container input[type="text"].ng-dirty {
  border: none;
}
