//background color
.sidebar {
  background-color: #7FADDBFF !important;
  width: 155px;
  padding-top: 3.5rem;
}

.active {
  border-radius: 5px;
  background-color: transparent !important;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 95%;
  margin-left: 3.5px;
  height: 45px !important;
  padding-bottom: 10px !important;
}

