$primary: #3b70c8;
.verif-container {
  max-width: 500px;
  margin: 8rem auto ;
  padding: 40px 30px ;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 34px -15px rgba(0,0,0,0.24);
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0 50px 0;
}

.btn {
  cursor: pointer;
  box-shadow: none!important;
  font-size: 15px;
  padding: 10px 20px;
  margin-top: 3rem;
  width: 70%;
  &.btn-primary {
    background: $primary !important;
    border: 1px solid $primary !important;
    border-radius: 15px !important;
    color: white !important;
    font-size: 16px;
    &:hover {
      border: 2px solid $primary !important;
      background: transparent !important;
      color :$primary !important;
      box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px !important;
      transform: scale(1.03) !important;
    }
  }
}

.input-info {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 5px;
}
.input-info input {
  position: absolute;
  height: 100%;
  width: 95%;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  padding: 0 35px;
  font-size: 15px;
  transition: all 0.2s ease;
  background-color: transparent;
  border-radius: 3px;
}

.input-info input:is(:focus, :valid) {
  border-bottom-color: $primary;
}

/* styling the icons */
.input-info i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #3e3516 !important;
  font-size: 18px;
}

.input-info input:is(:focus, :valid) ~ i {
  color: $primary;
}

.input-info i.icon {
  left: 0;
}
.input-info i.fa-eye-slash, i.fa-eye {
  right: 5%;
}

.form-group{
  position: relative;
  .label{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    font-weight: 700;
  }
}

#confirmPwd.ng-invalid.ng-touched, #pwd.ng-invalid.ng-touched {
  border-bottom-color: #930000;
}

.confirm {
  margin-top: 2rem;
}
.error {
  color: #930000;
}
