<div  class="verif-container">
  <h1 class="title">Reset Your Password</h1>


  <form class="signin-form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
    <!-- Password field -->
    <div class="form-group mb-3">
      <div class="input-info">
        <input
          formControlName="password"
          type="{{ showPassword ? 'text' : 'password' }}"
          class="password"
          id="pwd"
          name="password"
          placeholder="Enter your new password"
        />
        <!-- lock icon -->
        <i class="fa-solid fa-lock"></i>
        <!-- eye icon -->
        <span id="show-password" (click)="showPassword = !showPassword">
        <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
      </span>
      </div>
      <div *ngIf="resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)" class="error m-2">
        <i class="fa-sharp fa-solid fa-circle-xmark"></i> Password must be at least 8 characters.
      </div>
      <div *ngIf="resetPasswordForm.get('password')?.valid && resetPasswordForm.hasError('passwordMismatch')" class="text-success m-2">
        <i class="fa-sharp fa-solid fa-circle-check"></i> Looks good! Please confirm your password.
      </div>
      <div *ngIf="resetPasswordForm.get('password')?.valid && !resetPasswordForm.hasError('passwordMismatch')" class="text-success m-2">
        <i class="fa-sharp fa-solid fa-circle-check"></i> Your password is secure and you're all set!
      </div>
    </div>

    <!-- Confirm password field -->
    <div class="form-group mb-3 confirm">
      <div class="input-info">
        <input
          formControlName="confirmPassword"
          type="{{ showConfirmPassword ? 'text' : 'password' }}"
          class="confirm-password"
          id="confirmPwd"
          name="confirm-password"
          placeholder="Confirm your new password"
        />
        <!-- lock icon -->
        <i class="fa-solid fa-lock"></i>
        <!-- eye icon -->
        <span id="show-confirmPassword" (click)="showConfirmPassword = !showConfirmPassword">
        <i class="fa-solid" [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
      </span>
      </div>
    </div>

    <!-- Submit button -->
    <div class="container">
      <div class="d-flex flex-column align-items-center">
        <button type="submit" class="btn btn-primary rounded px-3" [disabled]="resetPasswordForm.invalid || resetPasswordForm.hasError('passwordMismatch')">
          Reset Password
        </button>
      </div>
    </div>
  </form>

</div>
