<div class="verif-container">
  <h1 class="title">Done!</h1>
  <div class="sent-email">
    <i class="fa-sharp fa-solid fa-circle-check"></i>
    We've sent an email to <strong>{{email}}</strong> with instructions. Please check your inbox within 24 hours.
  </div>
  <p class="message">If the email doesn't show up, check your span folder. We sent it from <strong>gtickets@gmail.com</strong>.</p>
  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <button routerLink="/sign-in" class="btn btn-primary rounded px-3">
        Return to login
      </button>
    </div>
  </div>
</div>
